In [2]:
import pandas as pd
import numpy as np

# Purpose of the Notebook

Find the beta loadings of the ETFs per country

# Fama French

In [5]:
os.getcwd()

'/home/jupyter/AFP/Risk Premia'

In [12]:
country_etfs = pd.read_csv('../Data/country_data/ETF_adj_close.csv')

In [13]:
country_etfs

,Unnamed: 0,Argentina,Brazil,Chile,China,Colombia,Egypt,Greece,India,Korea,...,Philippines,Poland,Qatar,Russia,Saudi Arabia,South Africa,Taiwan,Thailand,Turkey,United Arab Emirates
0,1996-03-19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1996-03-20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1996-03-21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1996-03-22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1996-03-25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6251,2021-01-19,30.930000,36.680000,31.850000,88.720001,11.38,26.600000,25.290001,41.130001,92.629997,...,32.310001,19.260000,19.010000,39.610001,31.680000,45.110001,57.709999,79.339996,27.860001,13.350
6252,2021-01-20,31.309999,36.660000,32.630001,91.400002,11.43,26.969999,25.430000,41.990002,93.910004,...,32.160000,19.350000,19.002001,39.930000,31.870001,45.919998,57.700001,80.080002,28.379999,13.630
6253,2021-01-21,30.629999,35.980000,32.680000,91.099998,11.33,27.139999,25.299999,41.799999,96.040001,...,32.299999,19.120001,19.000000,39.130001,31.770000,46.020000,58.700001,80.260002,28.170000,13.334
6254,2021-01-22,30.620001,35.040001,31.610001,91.059998,10.93,26.750000,24.440001,41.349998,93.820000,...,31.950001,19.150000,18.940001,38.060001,31.730000,45.240002,58.480000,79.529999,27.990000,13.135
6255,2021-01-25,30.110001,34.520000,31.350000,92.910004,10.57,26.740000,24.010000,40.669998,95.760002,...,31.750000,19.000000,18.875000,38.000000,31.610001,45.119999,58.310001,79.330002,27.910000,13.180